NEXT_PUBLIC_SUPABASE_URL=https://cjygekdbzwbzvvdgsrgg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ow1_O39UlgR2eDEt3zMOmQ_Me5I7L1C
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqeWdla2RiendienZ2ZGdzcmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc2ODgyMSwiZXhwIjoyMDg0MzQ0ODIxfQ.32WTKze18coOzIu84iuEVhByQIHqmzw2vawz4K3JuV0
# --- Cloudinary (client-side) ---
#---NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dbfdo3pq3
#---NEXT_PUBLIC_CLOUDINARY_UNSIGNED_PRESET=pa-level-supabase/listings
# --- NEXT_PUBLIC_CLOUDINARY_FOLDER=pa-level/listings
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dbfdo3pq3
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=pa-level-supabase
NEXT_PUBLIC_CLOUDINARY_ASSET_FOLDER=pa-level-supabase/listings


# --- Cloudinary server secrets (for delete API route) ---
CLOUDINARY_CLOUD_NAME=dbfdo3pq3
CLOUDINARY_API_KEY=427655199889814
CLOUDINARY_API_SECRET=I-XJNP6Eh4LafzazsEFDKBVsDHs
    
# --- paychangu ---

# PayChangu backend (public)
NEXT_PUBLIC_PAYCHANGU_BACKEND=https://paychangu-backend.onrender.com

NEXT_PUBLIC_PAYCHANGU_PUBLIC_KEY=pub-live-yin8HlxnvqqIjWdbOhpBZEifwpEDn8lM



SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hello.palevel@gmail.com
SMTP_PASS=egbt jwhk cqek ygom
SMTP_FROM="Pa-Level <hello.palevel@gmail.com>"
